@charset "UTF-8";
@font-face{
	font-family: PottaOne;
	src: url(fuentes/PottaOne-Regular.ttf)
}
header h1{
	font-family: PottaOne;
	text-align: center;
	background-color: blue;
	color:yellow;
}

section p{
	box-sizing:content-box;
	display:inline-block;
}
p#c1{
	background-color:lightblue;
	width:25%;
}
p#c2{
	width:74%;
	position:absolute;
	line-height:250%;
}
mark{
	background-color:black;
	color:yellow;
}
hr.c3{
	width:60%;
	box-sizing:content-box;
	display:inline-block;
	position:relative;
	left:5%;
}
hr.azul{
	height:10px;
	background-color:blue;
	width:75%;
	position:absolute;
	left:0px;
}